* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

body {
    margin: 10px;
    padding: 10px;
}

header p:nth-of-type(1) {
    opacity: 0.7;
    font-size: 1.1em;
}

header p:nth-of-type(2) {
    padding-top: 5px;
}

.container {
    display: flex;
    margin-top: .5em;
    height: fit-content;
    background: lightgray;
    line-height: 2em;
    justify-content: space-around;
    font-size: 1.1em;
}

.container ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

i, h2 {
    color: #0086b3;
}

h1 {
    width: 8em;
}

h2 {
    font-weight: 500;
}

section .first-col h2 {
    margin-top: .5em;
}

section {
    display: flex;
    justify-content: space-around;
}

section .first-col p, section .first-col a {
    display: list-item;
    list-style-type: disc;
    /* width: 30em; */
    opacity: unset;
    margin-left: 1em;
}

h3 {
    font-weight: bold;
}

.firt-col span {
    opacity: 0.6;
}

.bg-bl ul li {
    display: inline-block;
    border: 2px;
    padding: 5px;
    color: white;
    background-color: #0086b3;
    border-radius: 5px;
    margin: 5px;
}

.P-P li {
    padding-inline-start: 40px;
    list-style-type: none;
}

.ml-0 span, .ml-0 p {
    margin-left: 1em;
}

.ml-0 span {
    opacity: 0.6;
    font-style: italic;
}

h2 {
    margin-left: 0;
}

.languages p, .languages span {
    margin-left: 2em;
}

.languages span {
    color: #0086b3;
}

.interests li {
    border: 2px;
    border-color: #d9d9d9;
    border-style: solid;
    padding: 5px;
    color: black;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}

.education{
    line-height: 1.5em;
}

@media only screen and (min-width: 545px) and (max-width: 767px) {
    section{
        flex-direction: column;
        align-self: center;
    }
    /* p{
         list-style-type: none;
         padding-left: 2em;
    } */
}
@media only screen and (max-width: 544px) {
    *{
        word-break: break-all;
    }
    body{

        padding: 10px;
        margin: 0;
    }
    section{
        flex-direction: column;
        margin-left: 2em;
    }       
}