*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
body{
    margin: 20px 20px 0 20px;
    padding: 20px 20px 0 20px;
    height: 90em;
}
p{
    padding-top: .5em;
    opacity: 0.7;
    font-size: 1.1em;
}
.container{
    display: flex;
    align-content: flex-start;
    /* width: 100%; */
    margin-top: 1em;
    height: fit-content;
    background: lightgray;
    line-height: 2em;
    margin-right: -15px;
    margin-left: -15px;
    font-size: 1.1em;
}
ul{
    list-style-type: none;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: inline-block;
}
a{
    color: black;
    text-decoration: none;
}
i{
    color: #0086b3;
    padding-right: 5px;
}
h2{
    color: #0086b3;
    font-weight: 500;
}
section .first-col h2{
    margin-top: .5em;
}
.first-col{
    margin-left: 1em;
}
section{
    display: flex;
    justify-content: space-between;
}
section .first-col p, section .first-col a{
    display: list-item;
    list-style-type: disc;
    width: 30em;
    opacity: unset;
    margin-left: 2em;
}
h3{
    font-weight: bold;
}
h4{
    font-size: 1.2em;
}
span{
    opacity: 0.6;
}
.bg-bl ul li{
    background: #0086b3;
    color: white;
    /* width: fit-content;
    height: fit-content; */
    border-radius: 0.3em;
    padding: 0.3em;
    margin: .2em .2em;
}
.bg-bl ul{
    display: flex;
    flex-direction: row;
    height: 2em;
    width: 30em;
    flex-wrap: wrap;
    margin-left: 1em;
}
.programming-proficiency{
    margin-top: 4em;
}
.programming-proficiency p{
    margin-left: 2em;
}
.ml-0 span, .ml-0 p{
    margin-left: 1em;
}
span{
    opacity: 0.6;
    font-style: italic;
}
h2{
    margin-left: 0;
}
.languages p, .languages span{
    margin-left: 2em;
}
.languagesspan{
    color: #0086b3;
    opacity: unset;
}
.interests li{
    font-size: 1.1em;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: .5em;
    padding: .5em;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin: 1em 2em 0 0;
}
.interests .both{
    display: flex;
}
.first-col .education span{
    margin-bottom: 1em;
    padding-bottom: 0;
}
.education{
    line-height: 2em;
}
.sec-two, .first-two{
    margin-bottom: 0;
}
@media only screen and (max-width: 2560px) and (min-width: 1440px){
    *{
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 2.5em;
    }
    h1{
        font-size: 3em;
    }
    section{
        flex-direction: row;
        justify-content: space-around;
    }
    .container{
        /* width: 52%; */
        /* justify-content: space-around; */
        font-size: 1.7em;
    }
    p{
        font-size: 1.7em;
    }
    span{
        font-size:1.3em;
    }
    .programming-proficiency{
        margin-top: 5em;
    }
}
@media only screen and (max-width: 768px){
    section{
        flex-direction: column;
    }
}
@media only screen and (max-width: 425px){
    .container{
        /* width: 20em; */
        flex-direction: column;
    }
    header .container ul{
        padding-left: 2em !important;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    h1{
        font: size 4em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2.5em;
    }
    h4{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }
    span{
        font-size: 1.2em;
    }
}